.localeSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #1a1a1a; /* НЕ transparent */
  color: #ffffff; /* ЯВНО */

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;

  padding: 6px 28px 6px 10px;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
  outline: none;

  background-color: #1111;

  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

.localeSelect:hover {
  border-color: rgb(255, 255, 255);
}

.localeSelect:focus-visible {
  border-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}
.visuallyHidden {
  color: #ffffff;
  padding-right: 10px;
  font-weight: 700;
}
