/* WhyUs.module.css */

.container {
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}
@media (max-width: 600px) {
  .container {
    padding: 20px 0px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.8); /* Blue neon glow */
  margin-bottom: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .content {
    display: block;
  }
}

.benefitsColumn {
  flex: 1 1 300px;
  text-align: left;
}

.benefitsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefitItem {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: #fff;
}

.icon {
  color: #ff0000; /* Neon red for icons */
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 15px;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.8); /* Red glow effect */
}

.carImage {
  flex: 1 1 600px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  .benefitsColumn {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .benefitItem {
    justify-content: center;
  }
}
