.container {
  font-family: Arial, sans-serif;
  padding: 50px 20px;
  color: #fff;
  text-align: center;
}
@media (max-width: 600px) {
  .container {
    padding: 0px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  margin-bottom: 40px;
}

.offeringsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .offeringsGrid {
    max-width: 100%;
  }
}

.card {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff0000;
}

.cardDescription {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
}
